{% liquid
  assign selected_variant = product.selected_or_first_available_variant
%}

<style>
  [x-cloak] {
    display: none !important;
  }
</style>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% assign selling_points = product.metafields.custom.selling_points.value %}

{% if selling_points %}
  <ul class="list-none pl-0">
    {% for point in selling_points %}
      <li>✅ {{ point }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if product.variants.size > 1 %}
  <div x-data>
    <div class="flex gap-2 flex-wrap">
      {% for value in product.options_with_values[0].values %}
        <button
          @click="$store.pdpExtra.option1 = '{{ value }}';"
          class="p-0 border border-solid rounded-full py-2 px-4 text-base flex items-center justify-center cursor-pointer"
          :class="$store.pdpExtra.option1 === '{{ value }}' ? 'bg-[#0F172A] text-white' : 'bg-white text-[#0F172A]'">
          {{ value }}
        </button>
      {% endfor %}
    </div>
  </div>
{% endif %}

<div x-data class="flex flex-col gap-2">
  <button
    @click="$store.pdpExtra.option2 = 'starter'"
    class="border-2 border-solid cursor-pointer p-3 flex gap-4 items-center bg-white"
    :class="$store.pdpExtra.option2 === 'starter' ? 'border-[#0F172A]' : 'border-gray-300'">
    <div class="size-6 flex items-center justify-center rounded-full border-2 border-solid border-[#0F172A]">
      <span x-show="$store.pdpExtra.option2 === 'starter'" class="block size-4 rounded-full bg-[#0F172A]"></span>
    </div>
    <div class="text-left space-y-1">
      <h3 class="my-0 text-base font-semibold">THE STARTER</h3>
      <p class="my-0 text-gray-600">
        1 razor + 4 blades
      </p>
    </div>
    <div class="ml-auto">
      <div class="font-semibold text-base" x-text="$store.pdpExtra.getPrice('starter')"></div>
    </div>
  </button>
  <button
    @click="$store.pdpExtra.option2 = 'patriot';"
    class="border-2 border-solid cursor-pointer p-3 flex gap-4 items-center bg-white"
    :class="$store.pdpExtra.option2 === 'patriot' ? 'border-[#0F172A]' : 'border-gray-300'">
    <div class="size-6 flex items-center justify-center rounded-full border-2 border-solid border-[#0F172A]">
      <span x-show="$store.pdpExtra.option2 === 'patriot'" class="block size-4 rounded-full bg-[#0F172A]"></span>
    </div>
    <div class="text-left space-y-1">
      <h3 class="my-0 text-base font-semibold">
        THE PATRIOT * BEST VALUE
        <span class="text-[#0F172A] text-sm bg-gray-200 font-normal inline-block px-1">
          <span x-text="$store.pdpExtra.getPerKitPrice('patriot')"></span>
          Per Kit
        </span>
      </h3>
      <p class="my-0 text-gray-600">
        4 razors + 16 blades
      </p>
    </div>
    <div class="ml-auto">
      <div class="font-semibold text-base" x-text="$store.pdpExtra.getPrice('patriot')"></div>
      <div class="text-sm line-through">
        <span x-text="$store.pdpExtra.getCompareAtPrice('patriot')"></span>
      </div>
    </div>
  </button>
  <div class="pt-6 relative">
    <div class="absolute top-0 right-1 text-white text-xs leading-snug px-2 py-1 uppercase bg-[#0F172A]">Best Seller</div>
    <button
      @click="$store.pdpExtra.option2 = 'arsenal'"
      class="border-2 border-solid cursor-pointer p-3 flex gap-4 items-center bg-white w-full"
      :class="$store.pdpExtra.option2 === 'arsenal' ? 'border-[#0F172A]' : 'border-gray-300'">
      <div class="size-6 flex items-center justify-center rounded-full border-2 border-solid border-[#0F172A]">
        <span x-show="$store.pdpExtra.option2 === 'arsenal'" class="block size-4 rounded-full bg-[#0F172A]"></span>
      </div>
      <div class="text-left space-y-1">
        <h3 class="my-0 text-base font-semibold">THE ARSENAL
          <span class="text-[#0F172A] text-sm bg-gray-200 font-normal inline-block px-1">
            <span x-text="$store.pdpExtra.getPerKitPrice('arsenal')"></span>
            Per Kit
          </span>
        </h3>
        <p class="my-0 text-gray-600">
          8 razors + 32 blades
        </p>
      </div>
      <div class="ml-auto">
        <div class="font-semibold text-base" x-text="$store.pdpExtra.getPrice('arsenal')"></div>
        <div class="text-sm line-through">
          <span x-text="$store.pdpExtra.getCompareAtPrice('arsenal')"></span>
        </div>
      </div>
    </button>
  </div>
  <button
    @click="$store.pdpExtra.option2 = 'legend'"
    class="border-2 border-solid cursor-pointer p-3 flex gap-4 items-center bg-white"
    :class="$store.pdpExtra.option2 === 'legend' ? 'border-[#0F172A]' : 'border-gray-300'">
    <div class="size-6 flex items-center justify-center rounded-full border-2 border-solid border-[#0F172A]">
      <span x-show="$store.pdpExtra.option2 === 'legend'" class="block size-4 rounded-full bg-[#0F172A]"></span>
    </div>
    <div class="text-left space-y-1">
      <h3 class="my-0 text-base font-semibold">THE LEGEND - PREMIUM GIFT
        <span class="text-[#0F172A] text-sm bg-gray-200 font-normal inline-block px-1">
          <span x-text="$store.pdpExtra.getPerKitPrice('legend')"></span>
          Per Kit
        </span>
      </h3>
      <p class="my-0 text-gray-600">
        12 razors + 72 blades
      </p>
    </div>
    <div class="ml-auto">
      <div class="font-semibold text-base" x-text="$store.pdpExtra.getPrice('legend')"></div>
      <div class="text-sm line-through">
        <span x-text="$store.pdpExtra.getCompareAtPrice('legend')"></span>
      </div>
    </div>
  </button>
</div>

<product-form
  class="product-form"
  data-hide-errors="{{ gift_card_recipient_feature_active }}"
  data-section-id="{{ section.id }}">
  {%- form 'product'
    , product
    , id: ''
    , class: 'form'
    , novalidate: 'novalidate'
    , data-type: 'add-to-cart-form'
  -%}
    <input
      x-data
      type="hidden"
      name="id"
      id="product-variant-id"
      :value="$store.pdpExtra.selectedVariant"
      class="product-variant-id">
    <input
      type="hidden"
      name="quantity"
      value="1">
    <button
      type="submit"
      name="add"
      class="hidden_product_form_submit button button--full-width shadow-xl"
      aria-label="Add to cart">
      <span>ADD TO CART</span>
      {%- render 'loading-spinner' -%}
    </button>
  {%- endform -%}
</product-form>


<script>

  const pdVariants = [
    {% for variant in product.variants %}
      {
        id: "{{ variant.id }}",
        name: "{{ variant.title }}",
        starter: {
          price: "{{ variant.price | money }}"
        },
        patriot: {
          price: "{{ variant.price | money }}",
          compareAtPrice: "{{ variant.price | times: 2 | money }}",
          perKit: "{{ variant.price | divided_by: 4 | money }}"
        },
        arsenal: {
          price: "{{ variant.price | money }}",
          compareAtPrice: "{{ variant.price | times: 2 | money }}",
          perKit: "{{ variant.price | divided_by: 8 | money }}"
        },
        legend: {
          price: "{{ variant.price | money }}",
          compareAtPrice: "{{ variant.price | times: 2 | money }}",
          perKit: "{{ variant.price | divided_by: 12 | money }}"
        }
      },
    {% endfor %}
  ];

  document.addEventListener('alpine:init', () => {
    Alpine.store('pdpExtra', {
      selectedVariant: "{{ selected_variant.id }}",
      option1: "{{ selected_variant.option1 }}",
      option2: "patriot",
      getPrice (package) { 
        const matchedVariant = pdVariants.find(variant => variant.name.includes(this.option1) && variant.name.toLowerCase().includes(package.toLowerCase()));
        return matchedVariant[package].price
      },
      getCompareAtPrice (package) {
        const matchedVariant = pdVariants.find(variant => variant.name.includes(this.option1) && variant.name.toLowerCase().includes(package.toLowerCase()));
        return matchedVariant[package].compareAtPrice
      },
      getPerKitPrice (package) {
        const matchedVariant = pdVariants.find(variant => variant.name.includes(this.option1) && variant.name.toLowerCase().includes(package.toLowerCase()));
        return matchedVariant[package].perKit
      }
    });
    Alpine.effect(() => {
      const store = Alpine.store('pdpExtra');
      const matchedVariant = pdVariants.find(variant => variant.name.includes(store.option1) && variant.name.toLowerCase().includes(store.option2.toLowerCase()));
      store.selectedVariant = matchedVariant.id;
    })
  })
</script>