{% liquid
  assign selected_variant = product.selected_or_first_available_variant
%}

<style>
  [x-cloak] {
    display: none !important;
  }
</style>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% assign selling_points = product.metafields.custom.selling_points.value %}

{% if selling_points %}
  <ul class="list-none pl-0">
    {% for point in selling_points %}
      <li>✅ {{ point }}</li>
    {% endfor %}
  </ul>
{% endif %}


{% if product.variants.size > 1 %}
  <div x-data>
    <div class="mb-2">
      Package:
      <span x-html="$store.pdpExtra.variantTitle"></span>
    </div>
    <div class="flex gap-2 flex-wrap">
      {% for variant in product.variants %}
        <button
          @click="$store.pdpExtra.selectedVariant = '{{ variant.id }}'; $store.pdpExtra.variantPrice = '{{ variant.price | money }}'; $store.pdpExtra.variantCompareAtPrice = '{{ variant.compare_at_price | money }}'; $store.pdpExtra.variantTitle = '{{ variant.title }}';"
          class="p-0 border-2 border-solid rounded-full py-2 px-3 flex items-center justify-center cursor-pointer font-semibold"
          :class="$store.pdpExtra.selectedVariant === '{{ variant.id }}' ? 'bg-[#0F172A] text-white' : 'bg-white text-[#0F172A]'">
          {{ variant.title }}
        </button>
      {% endfor %}
    </div>
  </div>
{% endif %}

<product-form
  class="product-form"
  data-hide-errors="{{ gift_card_recipient_feature_active }}"
  data-section-id="{{ section.id }}">
  {%- form 'product'
    , product
    , id: ''
    , class: 'form'
    , novalidate: 'novalidate'
    , data-type: 'add-to-cart-form'
  -%}
    <input
      x-data
      type="hidden"
      name="id"
      id="product-variant-id"
      :value="$store.pdpExtra.selectedVariant"
      class="product-variant-id">
    <button
      type="submit"
      name="add"
      value="1"
      class="hidden_product_form_submit button button--full-width shadow-xl"
      aria-label="Add to cart">
      <span>ADD TO CART</span>
      {%- render 'loading-spinner' -%}
    </button>
  {%- endform -%}
</product-form>

{% assign accessories = collections['accessories'] %}

{% if accessories.products.length > 0 %}
  <div x-data class="p-4 !mb-8 bg-white border border-solid border-gray-200 rounded-xl">
    <h3 class="text-lg font-semibold !my-0">Accessories:</h3>
    <p class="text-base mt-0 !mb-3">Accessories 20% off until {{ 'now' | date: "%s" | plus: 259200 | date: "%b %d" }} - Automatically applies in the cart.</p>
    {% for item in accessories.products %}
      <div class="flex items-center gap-2 p-2 border border-solid border-gray-200 rounded-lg mb-2">
        <img
          class="rounded-lg"
          src="{{ item.images.first |  image_url: width: 150 }}"
          alt="{{ item.title }}"
          height="60"
          width="60">
        <div class="space-y-2">
          <h3 class="text-base font-semibold line-clamp-1 my-0">{{ item.title }}</h3>
          <span class="text-sm">+{{ item.price | money }}</span>
        </div>
        <div class="p-1 rounded-full border border-solid border-gray-200 flex items-center justify-between gap-2">
          <button
            class="bg-[#0F172A] text-white size-6 rounded-full font-bold cursor-pointer border-0 disabled:opacity-50 disabled:cursor-not-allowed"
            :disabled="$store.pdpExtra.accessoriesQuantity('{{ item.selected_or_first_available_variant.id }}') === 0"
            @click="$store.pdpExtra.removeAccessories('{{ item.selected_or_first_available_variant.id }}')">-</button>
          <span class="leading-none" x-text="$store.pdpExtra.accessoriesQuantity('{{ item.selected_or_first_available_variant.id }}')">1</span>
          <button class="bg-[#0F172A] text-white size-6 rounded-full font-bold cursor-pointer border-0 disabled:opacity-50 disabled:cursor-not-allowed" @click="$store.pdpExtra.addAccessories('{{ item.selected_or_first_available_variant.id }}')">+</button>
        </div>
      </div>
    {% endfor %}
    <button
      class="product-form__submit button button--full-width button--primary rounded-full leading-[50px] mt-6 !mb-0 shadow-xl"
      @click="$store.pdpExtra.addToCart()"
      :disabled="$store.pdpExtra.addingToCart">
      <span>
        SHOP NOW
      </span>
      <div class="loading__spinner" :class="!$store.pdpExtra.addingToCart ? 'hidden' : ''">
        <svg
          aria-hidden="true"
          focusable="false"
          class="spinner"
          viewBox="0 0 66 66"
          xmlns="http://www.w3.org/2000/svg">
          <circle
            class="path"
            fill="none"
            stroke-width="6"
            cx="33"
            cy="33"
            r="30"></circle>
        </svg>
      </div>
    </button>
  </div>
{% endif %}

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('pdpExtra', {
      selectedVariant: "{{ selected_variant.id }}",
      variantPrice: "{{ selected_variant.price | money }}",
      variantCompareAtPrice: "{{ selected_variant.compare_at_price | money }}",
      variantTitle: "{{ selected_variant.title }}",
      accessories: [],
      addingToCart: false,
      accessoriesQuantity (id) { 
        const accessory = this.accessories.find(item => item.id === id);
        return accessory ? accessory.quantity : 0;
      },
      addAccessories (id) {
        const existingIndex = this.accessories.findIndex(item => item.id === id);
        if (existingIndex >= 0) {
          this.accessories[existingIndex].quantity += 1;
        } else {
          this.accessories.push({ id, quantity: 1 });
        }
      },
      removeAccessories (id) {
        const existingIndex = this.accessories.findIndex(item => item.id === id);
        if (existingIndex >= 0) {
          if (this.accessories[existingIndex].quantity > 1) {
            this.accessories[existingIndex].quantity -= 1;
          } else {
            this.accessories = this.accessories.filter((item) => item.id !== id);
          }
        }
      },
      async addToCart () {
        this.addingToCart = true;

        const items = this.accessories.map(accessory => ({
          id: accessory.id,
          quantity: accessory.quantity
        }));

        if (items.length > 0) {
          try {
            await fetch('/cart/add.js', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
              },
              body: JSON.stringify({ items })
            });

          } catch (error) {
            console.error('Error adding items to cart:', error);
          } 
        }

        const hiddenSubmit = document.querySelector('.hidden_product_form_submit');
        hiddenSubmit.click();

        setTimeout(() => {
          this.addingToCart = false;
        }, 2000);
      }
    })
  })
</script>